.idea
https://github.com/sitepoint-editors/multiselect-web-component
https://www.sitepoint.com/creating-a-multiselect-component-as-a-web-component/
https://ayushgp.github.io/html-web-components-using-vanilla-js-part-3/